body
{
  display: grid;
  grid-template-rows: 70px 500px 308px;
} /* Grid */

header
{
  grid-area: 1 / 1 / 2 / 2; /* 1 Line 2Scnd Colums , 1 Line 2Scnd Colums */
}

main
{
  grid-area : 2 / 1 / 3 / 2; /* 1 Line 2Scnd Colums , 1 Line 3rth Colums */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer
{
  grid-area: 3 / 1 / 4 / 2; /* 1 Line 2Scnd Colums , 1 Line 4nd Colums */
}
